*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(130deg, #0c1791, #0591e1);
    padding: 10px;
}
.todo-app{
    width: 100%;
    background: #fff;
    max-width: 500px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin: 100px auto 20px;
}
.todo-app h2{
    color: #333;
    margin-bottom: 10px;
}
.row{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #edeff0;
    border-radius: 50px;
}
input{
    border: none;
    background: transparent;
    flex: 1;
    outline: none;
    padding: 10px;
}
button{
    border: none;
    background: #0591e1;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
}
.todo-app button:hover{
    background: #0c1791;
    transition: ease-in-out 0.3s;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(images/circle.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    border-radius: 50%;
}
ul li.checked{
    text-decoration: line-through;
    color: #999;
}
ul li span{
    position: absolute;
    right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 12px;
    width: 20px;
    height: 20px;
    color: #555;
    font-size: 20px;
    cursor: pointer;
    background: #edeff0;
    border-radius: 50%;
}
ul li span:hover{
    background: #0591e1;
    color: white;
    transition: ease-in-out 0.3s;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}